<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".info_1" %> <a href="http://www.railstutorial.org/">
  <em><%= t ".info_2" %> </em></a> <%= t ".info_3" %> 
  <a href="http://www.railstutorial.org/book"><%= t ".info_4" %> </a> <%= t ".info_5" %> 
  <a href="http://screencasts.railstutorial.org/"><%= t ".info_6" %> </a>
  <%= t ".info_7" %> 
  <a href="http://rubyonrails.org/"><%= t ".info_8" %> </a>.
  <%= t ".info_9" %> 
</p>
