<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".info_1" %>
  <a href="http://www.railstutorial.org/help"> <%= t ".info_2" %></a>.
   <%= t ".info_3" %>
  <a href="http://www.railstutorial.org/book"><em> <%= t ".info_4" %></em>
   <%= t ".info_5" %></a>.
</p>
