<footer class="footer">
  <small>
    <%= t ".info_1" %> <a href="http://www.railstutorial.org/"> <%= t ".info_2" %></a>
    <%= t ".info_3" %> <a href="http://www.michaelhartl.com/"> <%= t ".info_4" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".info_5"),about_path %></li>
      <li><%= link_to t(".info_6"),contact_path %></li>
      <li><a href="http://news.railstutorial.org/"> <%= t ".info_7" %></a></li>
    </ul>
  </nav>
</footer>
